body{
    background-color:#1a1a1a;
}
.experience{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
nav{
    width:100%;
}
.list-group-item-text{
    padding-left:4em;
    font-size:1em;
}
#name{
    float:left;
    position:relative;
    display:inline;
    font-size:200%;
    padding-right:10px;
}
#contact{
    float:left;
    display:inline;
}
#websites{
    float:right;
}
.container{
    padding-top:1em;
    padding-bottom:1em;
}
